<app-navbar-user></app-navbar-user>
<div>
<form (ngSubmit)="onSubmit()" [formGroup]="songForm">
  <div>
    <table class="table table-bordered">
      <tr>
        <td>AvatarUrl</td>
        <td><input class="form-control" type="file" formControlName="avatarUrl" (change)="showPre($event)">
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input class="form-control" type="text" formControlName="name">
          <div *ngIf="songForm.get('name').hasError('required') && songForm.get('name').touched" class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input class="form-control" type="text" formControlName="description">
          <div *ngIf="songForm.get('description').hasError('required') && songForm.get('description').touched"
               class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td>Tags</td>
        <td><input class="form-control" type="text" formControlName="tags">
          <div *ngIf="songForm.get('tags').hasError('required') && songForm.get('tags').touched" class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td>FileUrl</td>
        <td><input class="form-control" type="text" formControlName="fileUrl">
          <div *ngIf="songForm.get('fileUrl').hasError('required') && songForm.get('fileUrl').touched"
               class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button  type="submit">Creat</button>
          <button class="button-cancel" [routerLink]="['/userHome']">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</form>
<div class="alert alert-danger" role="alert" style="text-align: center" *ngIf="message">{{message}}</div>
</div>
