<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/userHome']">
           <span style="color: #6f42c1;" class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-music fa-stack-1x fa-inverse fa-spin"></i>
      </span>
      <div style="float: right; margin-top: 5px">4KMusic</div></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/mysong']">Nhạc của tôi</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/creatSong']">Tạo bài hát</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/userProfile']">Trang cá nhân</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="logout()">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</nav>
