<app-navbar-menu></app-navbar-menu>
<form class="box" [formGroup]="loginForm" (ngSubmit)="login()">
  <h1>Đăng nhập</h1>
  <input type="text" name="" placeholder="Tên đăng nhập">
  <input type="password" name="" placeholder="Mật khẩu">
  <button type="submit">Đăng nhập</button>
</form>

<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
