<app-navbar-menu></app-navbar-menu>
<form class="box" method="post">
  <h1>Đăng nhập</h1>
  <input type="text" name="" placeholder="Tên đăng nhập">
  <input type="password" name="" placeholder="Mật khẩu">
  <a href="#" type="submit">Đăng nhập</a>
</form>

<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
