<div class="carousel-gallery">
  <h3 class="mb-1 text-dark" style="padding-bottom: 20px"><b>Playlist Mới</b></h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let playlist of playlists">
        <a [routerLink]="['playlist',playlist.id]" data-fancybox="gallery">
          <div class="image" style="background-image: url({{playlist.avatarUrl}})" >
            <div class="overlay">
              <em class="mdi mdi-play-circle"></em>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
