<section class="contact-section">
  <div >
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4"/>
            <div class="small text-black-50"> 23, TT-01, Khu đô thị MonCity</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4"/>
            <div class="small text-black-50"><a>nguyentrunghieu.hha101196@gmail.com</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4"/>
            <div class="small text-black-50">0985.806.414</div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="#"><i class="fab fa-twitter" style="margin-top: 15px"></i></a>
      <a class="mx-2" href="#"><i class="fab fa-facebook-f" style="margin-top: 15px"></i></a>
      <a class="mx-2" href="#"><i class="fab fa-github" style="margin-top: 15px"></i></a>
    </div>
  </div>
</section>

<footer class="footer small text-center text-white-50">
  <div class="container">Copyright © 4KMusic 2020</div>
</footer>
