<!--<div *ngFor="let song of songList">-->
<!--  <div><img src="{{song.avatarUrl}}" alt="Ko có ảnh" width="300px" height="300px"></div>-->
<!--  <div>{{song.name}}</div>-->
<!--  <div *ngIf="song.singers.length != 0 ; else block">-->
<!--    <div *ngFor="let singers of song.singers">{{singers.name}}</div>-->
<!--  </div>-->
<!--  <ng-template #block>-->
<!--    <div>{{song.user.name}}</div>-->
<!--  </ng-template>-->
<!--</div>-->

<div id="carousel">

  <div class="hideLeft">
    <img src="{{song1.avatarUrl}}">

  </div>

  <div class="prevLeftSecond">
    <img src="{{song2.avatarUrl}}">
  </div>

  <div class="prev">
    <img src="{{song3.avatarUrl}}">
  </div>

  <div class="selected">
    <img src="{{song4.avatarUrl}}">
  </div>

  <div class="next">
    <img src="{{song5.avatarUrl}}">
  </div>

  <div class="nextRightSecond">
    <img src="{{song6.avatarUrl}}">
  </div>

  <div class="hideRight">
    <img src="{{song7.avatarUrl}}">
  </div>

</div>
