
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['']">
      <span style="color: #6f42c1;" class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-music fa-stack-1x fa-inverse fa-spin"></i>
      </span>
       <div style="float: right; margin-top: 5px">4KMusic</div></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li style="margin-top: 20px ; margin-right: 20px" class="nav-item">
          <form class="form-inline" [formGroup]="searchForm"  (ngSubmit)="search()">
            <input class="form-control mr-xl-2 " type="text" placeholder="Tìm kiếm" aria-label="Search" size="70" formControlName="nameSearch" >
          </form>
        </li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/login']">Đăng nhập</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/register']">Đăng ký</a></li>
      </ul>
    </div>
  </div>
</nav>
