<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <!-- check icon   -->
    <symbol id="icon-check" viewBox="0 0 24 24">
      <title>check</title>
      <path d="M9 16.172l10.594-10.594 1.406 1.406-12 12-5.578-5.578 1.406-1.406z"></path>
    </symbol>

    <!--  device icon  -->
    <symbol id="icon-important_devices" viewBox="0 0 24 24">
      <title>important_devices</title>
      <path
        d="M11.953 9h3.047l-2.484 1.781 0.938 2.906-2.438-1.828-2.484 1.828 0.938-2.906-2.484-1.781h3.047l0.984-3zM20.016 2.016c1.078 0 1.969 0.844 1.969 1.969v5.016h-1.969v-5.016h-18v12h12.984v2.016h-2.016v2.016h2.016v1.969h-8.016v-1.969h2.016v-2.016h-6.984c-1.125 0-2.016-0.938-2.016-2.016v-12c0-1.125 0.891-1.969 2.016-1.969h18zM23.016 20.016v-7.031h-5.016v7.031h5.016zM23.016 11.016c0.563 0 0.984 0.422 0.984 0.984v9c0 0.563-0.422 0.984-0.984 0.984h-5.016c-0.563 0-0.984-0.422-0.984-0.984v-9c0-0.563 0.422-0.984 0.984-0.984h5.016z"></path>
    </symbol>
    <!--  volume icon  -->
    <symbol id="icon-volume-1" viewBox="0 0 24 24">
      <title>volume-1</title>
      <path
        d="M11.4 4.1c-0.3-0.2-0.8-0.1-1.1 0.1l-4.7 3.8h-3.6c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1h3.6l4.7 3.8c0.2 0.1 0.4 0.2 0.6 0.2 0.1 0 0.3 0 0.4-0.1 0.3-0.2 0.6-0.5 0.6-0.9v-14c0.1-0.4-0.1-0.7-0.5-0.9zM10 16.9l-3.4-2.7c-0.2-0.1-0.4-0.2-0.6-0.2h-3v-4h3c0.2 0 0.4-0.1 0.6-0.2l3.4-2.7v9.8z"></path>
      <path
        d="M16.2 7.8c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4c1.6 1.6 1.6 4.1 0 5.7-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.5 0.3 0.7 0.3s0.5-0.1 0.7-0.3c2.4-2.4 2.4-6.2 0-8.5z"></path>
    </symbol>
    <!-- shuffle icon  -->
    <symbol id="icon-shuffle" viewBox="0 0 20 20">
      <title>shuffle</title>
      <path
        d="M15.093 6.694h0.92v2.862l3.987-4.024-3.988-4.025v2.387h-0.92c-3.694 0-5.776 2.738-7.614 5.152-1.652 2.172-3.080 4.049-5.386 4.049h-2.092v2.799h2.093c3.694 0 5.776-2.736 7.614-5.152 1.652-2.173 3.080-4.048 5.386-4.048zM5.41 8.458c0.158-0.203 0.316-0.412 0.477-0.623 0.39-0.514 0.804-1.055 1.252-1.596-1.322-1.234-2.915-2.144-5.046-2.144h-2.093v2.799h2.093c1.327 0 2.362 0.623 3.317 1.564zM16.012 13.294h-0.92c-1.407 0-2.487-0.701-3.491-1.738-0.1 0.131-0.201 0.264-0.303 0.397-0.441 0.58-0.915 1.201-1.439 1.818 1.356 1.324 3 2.324 5.232 2.324h0.92v2.398l3.989-4.025-3.988-4.025v2.851z"></path>
    </symbol>
    <!-- step backward icon -->
    <symbol id="icon-step-backward" viewBox="0 0 16 28">
      <title>step-backward</title>
      <path
        d="M15.297 2.203c0.391-0.391 0.703-0.25 0.703 0.297v23c0 0.547-0.313 0.688-0.703 0.297l-11.094-11.094c-0.094-0.094-0.156-0.187-0.203-0.297v10.594c0 0.547-0.453 1-1 1h-2c-0.547 0-1-0.453-1-1v-22c0-0.547 0.453-1 1-1h2c0.547 0 1 0.453 1 1v10.594c0.047-0.109 0.109-0.203 0.203-0.297z"></path>
    </symbol>

    <!-- step forward icon -->
    <symbol id="icon-step-forward" viewBox="0 0 16 28">
      <title>step-forward</title>
      <path
        d="M0.703 25.797c-0.391 0.391-0.703 0.25-0.703-0.297v-23c0-0.547 0.313-0.688 0.703-0.297l11.094 11.094c0.094 0.094 0.156 0.187 0.203 0.297v-10.594c0-0.547 0.453-1 1-1h2c0.547 0 1 0.453 1 1v22c0 0.547-0.453 1-1 1h-2c-0.547 0-1-0.453-1-1v-10.594c-0.047 0.109-0.109 0.203-0.203 0.297z"></path>
    </symbol>

    <!-- play icon  -->
    <symbol id="icon-play_circle_outline" viewBox="0 0 24 24">
      <title>play_circle_outline</title>
      <path
        d="M12 20.016c4.406 0 8.016-3.609 8.016-8.016s-3.609-8.016-8.016-8.016-8.016 3.609-8.016 8.016 3.609 8.016 8.016 8.016zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984zM9.984 16.5v-9l6 4.5z"></path>
    </symbol>

    <!-- repeat icon -->
    <symbol id="icon-repeat" viewBox="0 0 24 24">
      <title>repeat</title>
      <path
        d="M3 12c0.6 0 1-0.4 1-1v-2c0-1.7 1.3-3 3-3h11.6l-2.3 2.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l4-4c0.1-0.1 0.2-0.2 0.2-0.3 0.1-0.2 0.1-0.5 0-0.8-0.1-0.1-0.1-0.2-0.2-0.3l-4-4c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l2.3 2.3h-11.6c-2.8 0-5 2.2-5 5v2c0 0.6 0.4 1 1 1z"></path>
      <path
        d="M21 12c-0.6 0-1 0.4-1 1v2c0 1.7-1.3 3-3 3h-11.6l2.3-2.3c0.4-0.4 0.4-1 0-1.4s-1-0.4-1.4 0l-4 4c-0.1 0.1-0.2 0.2-0.2 0.3-0.1 0.2-0.1 0.5 0 0.8 0.1 0.1 0.1 0.2 0.2 0.3l4 4c0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3c0.4-0.4 0.4-1 0-1.4l-2.3-2.3h11.6c2.8 0 5-2.2 5-5v-2c0-0.6-0.4-1-1-1z"></path>
    </symbol>
  </defs>
</svg>

<div class="now-playing-bar-container">
  <div class="now-playing-bar">
    <div class="now-playing-bar__left">
      <div class="now-playing">
        <div class="now-playing__album-cover">
          <img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Agnes_Obel_-_Philharmonics.jpg/220px-Agnes_Obel_-_Philharmonics.jpg"
            alt="">
        </div>
        <div class="now-playing__song-info">
          <div class="song-name">Riverside</div>
          <div class="artist-name">Agnes Obel</div>
        </div>
        <button class="now-playing__song-status">
          <svg class="icon icon-check">
            <use xlink:href="#icon-check"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="now-playing-bar__center">
      <div class="player-controls">
        <div class="player-controls__buttons">
          <div class="shuffle">
            <button class="button-bg">
              <svg class="icon icon-shuffle">
                <use xlink:href="#icon-shuffle"></use>
              </svg>
            </button>
          </div>


          <div class="step-backward">
            <button class="button-bg">
              <svg class="icon icon-step-backward">
                <use xlink:href="#icon-step-backward"></use>
              </svg>
            </button>
          </div>


          <div class="play">
            <button class="button-bg">
              <svg class="icon icon-play_circle_outline">
                <use xlink:href="#icon-play_circle_outline"></use>
              </svg>
            </button>
          </div>

          <div class="step-forward">
            <button class="button-bg">
              <svg class="icon icon-step-forward">
                <use xlink:href="#icon-step-forward"></use>
              </svg>
            </button>
          </div>

          <div class="repeat">
            <button class="button-bg">
              <svg class="icon icon-repeat">
                <use xlink:href="#icon-repeat"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="player-controls__bar">
          <div class="song-current-time">1:17</div>
          <div class="progress-bar">
            <div class="progress-bar__slider"></div>
          </div>
          <div class="song-duration">4:46</div>
        </div>
      </div>
    </div>

    <div class="now-playing-bar__right">
      <div class="extra-controls">
        <div class="device-icon">
          <button class="button-bg">
            <svg class="icon icon-important_devices">
              <use xlink:href="#icon-important_devices"></use>
            </svg>
          </button>
        </div>

        <div class="volume-icon">
          <button class="button-bg">
            <svg class="icon icon-volume-1">
              <use xlink:href="#icon-volume-1"></use>
            </svg>
          </button>
        </div>

        <div class="progress-bar">
          <div class="progress-bar__slider">
            <div id="song-progress">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
