.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
}

.button-bg {
  background: transparent;
  border: none;
  outline: none;
}

.now-playing-bar-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 800px;
  height: 100px;
  background: rgba(0, 0, 0, 0.86);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.now-playing-bar-container .now-playing-bar {
  width: calc(100% - 40px);
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.now-playing-bar-container .now-playing-bar__left {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
.now-playing-bar-container .now-playing-bar__left .now-playing {
  display: flex;
  align-items: center;
}
.now-playing-bar-container .now-playing-bar__left .now-playing__album-cover img {
  width: 56px;
  height: 56px;
}
.now-playing-bar-container .now-playing-bar__left .now-playing__song-info {
  padding-left: 15px;
  padding-right: 15px;
}
.now-playing-bar-container .now-playing-bar__left .now-playing__song-info .song-name {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.now-playing-bar-container .now-playing-bar__left .now-playing__song-info .artist-name {
  color: #a0a0a0;
  font-size: 11px;
  line-height: 16px;
}
.now-playing-bar-container .now-playing-bar__left .now-playing__song-status {
  background: transparent;
  border: none;
}
.now-playing-bar-container .now-playing-bar__left .now-playing__song-status .icon {
  stroke: green;
  fill: green;
}
.now-playing-bar-container .now-playing-bar__center {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
.now-playing-bar-container .now-playing-bar__center .player-controls {
  width: 100%;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__buttons {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__buttons .play {
  padding-left: 30px;
  padding-right: 30px;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__buttons .play .icon {
  width: 2.5em;
  height: 2.5em;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__buttons .shuffle {
  padding-right: 30px;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__buttons .repeat {
  padding-left: 30px;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__buttons .icon {
  stroke: #a0a0a0;
  fill: #a0a0a0;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__bar {
  display: flex;
  align-items: center;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__bar .song-current-time {
  font-size: 11px;
  color: #a0a0a0;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__bar .progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #404040;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__bar .progress-bar__slider {
  width: 27%;
  background: #a0a0a0;
  height: 4px;
  border-radius: 4px;
}
.now-playing-bar-container .now-playing-bar__center .player-controls__bar .song-duration {
  font-size: 11px;
  color: #a0a0a0;
}
.now-playing-bar-container .now-playing-bar__right {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.now-playing-bar-container .now-playing-bar__right .extra-controls {
  display: flex;
  align-items: center;
}
.now-playing-bar-container .now-playing-bar__right .extra-controls .device-icon {
  display: flex;
}
.now-playing-bar-container .now-playing-bar__right .extra-controls .device-icon .icon {
  width: 1em;
  height: 1em;
  stroke: #a0a0a0;
  fill: #a0a0a0;
}
.now-playing-bar-container .now-playing-bar__right .extra-controls .volume-icon {
  display: flex;
  padding-left: 12px;
  padding-right: 10px;
}
.now-playing-bar-container .now-playing-bar__right .extra-controls .volume-icon .icon {
  width: 1.2em;
  height: 1.2em;
  stroke: #a0a0a0;
  fill: #a0a0a0;
}
.now-playing-bar-container .now-playing-bar__right .extra-controls .progress-bar {
  width: 90px;
  height: 4px;
  border-radius: 4px;
  background: #404040;
}
.now-playing-bar-container .now-playing-bar__right .extra-controls .progress-bar__slider {
  width: 40px;
  background: #a0a0a0;
  height: 4px;
  border-radius: 4px;
}

/*# sourceMappingURL=now-playing-bar.component.css.map */
