
<div class="container">
  <div>
    <app-navbar-user></app-navbar-user>
  </div>
  <div class="new-most-song mt-5">
    <div class="row p-5">
      <div class="col">
        <h4 class="font-weight-bold">Các bài hát của Playlist</h4>
        <ul class="list-group" *ngFor="let song of songlist">
          <li class="list-group-item pb-1" >
            <a class="name-of-song" >
              <img style="float: left" src="{{song.avatarUrl}}" width="40" height="40" alt="" class="img thumbnail pull-left mr-2">
              <h6 style="float: left" class="mb-1 text-dark"><b>{{song.name}}</b></h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <section class="bg-light p-3 mb-4">
      <span class="ml-5" id="like-btn">
        <i id="like" class="fa fa-heart text-danger"></i> Like
    </span>
    <span class="ml-5">
          <i class="fa fa-comment text-danger"></i> Comment
      </span>
  </section>

  <section class="bg-light p-3 my-4">
    <div class="row">
      <div class="col-7 px-5 br-1">
        <h3 class="mb-3">Lyrics</h3>
        <div class="lyric-content">
          <pre></pre>
        </div>
      </div>
      <div class="col-5 px-5">
        <h3 class="mb-3">Recommend for you</h3>
        <ul class="list-group">
          <li class="list-group-item p-0 py-2 bg-light">
            <div class="name-of-song">
              <img width="40" height="40" alt="" class="img thumbnail pull-left mr-2">
              <i class="fa fa-play play-btn position-absolute" style="top: 12px;"></i>
            </div>
            <a>
              <h6 class="mb-1 text-dark"></h6>
            </a>
            <p class="mb-0 singer"><span></span></p>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <div class="footer fixed-bottom" style="margin-bottom: 100px">
    <div id="app-cover">
      <div id="bg-artwork"></div>
      <div id="bg-layer"></div>
      <div id="player">
        <div id="player-track">
          <div id="album-name"></div>
          <div id="track-name"></div>
          <div id="track-time">
            <div id="current-time"></div>
            <div id="track-length"></div>
          </div>
          <div id="s-area">
            <div id="ins-time"></div>
            <div id="s-hover"></div>
            <div id="seek-bar"></div>
          </div>
        </div>
        <div id="player-content">
          <div id="album-art">
            <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg"
                 class="active"
                 id="_1">
            <div id="buffer-box">Buffering ...</div>
          </div>
          <div id="player-controls">
            <div class="control">
              <div class="button" id="play-previous">
                <i class="fas fa-backward"></i>
              </div>
            </div>
            <div class="control">
              <div class="button" id="play-pause-button">
                <i class="fas fa-play"></i>
              </div>
            </div>
            <div class="control">
              <div class="button" id="play-next">
                <i class="fas fa-forward"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 100px">
    <app-footer-user></app-footer-user>
  </div>

</div>
