<div id="layout">
  <div class="container">
    <div>
      <app-navbar-user></app-navbar-user>
    </div>
    <div style="padding-top: 75px">
      <app-poster></app-poster>
    </div>
    <div>
      <app-list-song></app-list-song>
    </div>
    <div>
      <app-list-new-song></app-list-new-song>
      <app-list-new-playlist></app-list-new-playlist>
      <app-singer></app-singer>
    </div>
    <div>
      <app-list-all></app-list-all>
    </div>
  </div>
  <div class="container">
    <app-footer-user></app-footer-user>
  </div>
</div>
