<div class="container">
  <app-navbar-menu></app-navbar-menu>
  <div style="transform: translate(0%, 10%);">
    <div id="blue-playlist-container">

      <!-- Amplitude Player -->
      <div id="amplitude-player">

        <!-- Left Side Player -->

        <!-- End Left Side Player -->

        <!-- Right Side Player -->
        <div id="amplitude-right">
          <div *ngFor="let song of songs ; let i = index">
            <div class="song amplitude-song-container amplitude-play-pause" (click)="sendValue(song.fileUrl,song.avatarUrl)">
              <div class="song-now-playing-icon-container">
                <div class="play-button-container">
                </div>
                <span class="mdi mdi-volume-high"></span>
              </div>
              <div class="song-meta-data">
                <span class="song-title">{{song.name}}</span>
                <span class="song-artist" *ngFor="let singer of song.singers">{{singer.name}}</span>
                <span class="song-artist" *ngIf="song.singers.length == 0">{{song.user.name}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Right Side Player -->
        <div >
          <div><img [src]="xadsad" alt="ko có ảnh" width="300px" height="150px"></div>
          <audio autoplay controls [src]="abc">
          </audio>
        </div>
      </div>
      <!-- End Amplitdue Player -->
    </div>
  </div>
</div>

