<div class="container">
  <div>
    <app-navbar-menu></app-navbar-menu>
  </div>

  <div class="example-container">
    <div style="float: left; margin-left: 70px; margin-top: 100px; width: 400px">
      <table class="table table-striped table-light">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Bài hát</th>
        </tr>
        </thead>
        <tbody *ngFor="let song of songlist | paginate: {id: 'song', itemsPerPage: 7, currentPage: p }; let i = index">
        <tr>
          <td>{{i+1}}</td>
          <td>
            <img style="float: left" src="{{song.avatarUrl}}" width="40" height="40" alt=""
                 class="img thumbnail pull-left mr-2">
          </td>
          <td><a  [routerLink]="['/song',song.id]">{{song.name}}</a></td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <pagination-controls id="song" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

    <div style="float: right; margin-top: 100px; width: 600px">
      <section class="bg-light p-3 mb-4 container" style="border-radius: 5px">
        <table class="table">
          <tr>
            <td>
                <span>
                      <a style="text-decoration: none" [routerLink]="['/login']">
                      <i class="fa fa-heart text-danger"></i>
                     </a>
                 </span>
            </td>
          </tr>
        </table>
      </section>
      <section class="bg-light p-3 my-4" style="border-radius: 5px">
        <div>
          <div class="px-5">
            <h3 class="mb-3">Bình luận</h3>
            <div>
              <ul class="list-group br-1">
                <li class="list-group-item pb-1">
                  <div class="name-of-song">
                    <img src="" width="40" height="40" style="float: left"
                         class="img thumbnail pull-left mr-2">
                  </div>
                  <span>
                       <h6 class="mb-1 text-dark"><b></b></h6>
                         <p></p>
                    </span>
                </li>
              </ul>
              <div class="text-center">
                <pagination-controls id="comment" (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="footer fixed-bottom" style="margin-bottom: 100px">
    <div id="app-cover">
      <div id="bg-artwork"></div>
      <div id="bg-layer"></div>
      <div id="player">
        <div id="player-track">
          <div id="album-name"></div>
          <div id="track-name"></div>
          <div id="track-time">
            <div id="current-time"></div>
            <div id="track-length"></div>
          </div>
          <div id="s-area">
            <div id="ins-time"></div>
            <div id="s-hover"></div>
            <div id="seek-bar"></div>
          </div>
        </div>
        <div id="player-content">
          <div id="album-art">
            <img src="{{playlist.avatarUrl}}"
                 class="active"
                 id="_1">
          </div>
          <div id="player-controls">
            <div class="control">
              <div class="button" id="play-previous">
                <i class="fas fa-backward"></i>
              </div>
            </div>
            <div class="control">
              <div class="button" id="play-pause-button">
                <i class="fas fa-play"></i>
              </div>
            </div>
            <div class="control">
              <div class="button" id="play-next">
                <i class="fas fa-forward"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

