<app-navbar-menu></app-navbar-menu>
<form class="box" [formGroup]="informationForm" (ngSubmit)="information()">
  <h1>Đăng ký</h1>
  <input formControlName="name" type="text" name="" placeholder="Họ tên">
  <button type="submit">Cập nhật</button>
</form>

<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
