
<div>
  <div id="mast-text" style="margin-top: 100px">
      <div class="text-center">
        <h1 class="mx-auto my-0">Bài hát nổi bật</h1>
    </div>
  </div>
  <div id="carousel" >

    <div class="hideLeft">
      <a [routerLink]="['song',song1.id]">
        <img src="{{song1.avatarUrl}}">
      </a>
    </div>

    <div class="prevLeftSecond">
      <a [routerLink]="['song',song2.id]">
        <img src="{{song2.avatarUrl}}">
      </a>
    </div>

    <div class="prev">
      <a [routerLink]="['song',song3.id]">
        <img src="{{song3.avatarUrl}}">
      </a>
    </div>

    <div class="selected">
      <a [routerLink]="['song',song4.id]">
        <img src="{{song4.avatarUrl}}">
      </a>
    </div>

    <div class="next">
      <a [routerLink]="['song',song5.id]">
        <img src="{{song5.avatarUrl}}">
      </a>
    </div>

    <div class="nextRightSecond">
      <a [routerLink]="['song',song6.id]">
        <img src="{{song6.avatarUrl}}">
      </a>
    </div>

    <div class="hideRight">
      <a [routerLink]="['song',song7.id]">
        <img src="{{song7.avatarUrl}}">
      </a>
    </div>
  </div>

</div>
