
.box {
  width: 600px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background: #191919;
  text-align: center;
  box-shadow: -1px 92px 99px -62px rgba(3, 107, 255, 0.27), 0 1px 6px 0 rgba(10, 48, 255, 0.48);
  border-radius: 5px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box td {
  padding-left: 60px;
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}

.box button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  width: 10%;
}

.box input[type = "text"]:focus {
  width: 280px;
  -webkit-animation: 9s colorChange alternate;
  transition: height 0.3s, width 0.3s 0.1s;
  input: focus border
}

.box button[type = "submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #cc2e2e;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  width: 200px;
  text-decoration: none;
}

.box button[type = "submit"]:hover {
  background: #2ecc71;
}

.box button:hover {
  background: #cc2e2e;
}
