<app-navbar-user></app-navbar-user>
<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <div>
    <table class="table table-bordered">
      <tr>
        <td>Name</td>
        <td><input class="form-control" type="text" formControlName="name">
          <div *ngIf="userForm.get('name').hasError('required') && userForm.get('name').touched" class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input class="form-control" type="text" formControlName="email" readonly>
          <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><input class="form-control" type="text" formControlName="gender">
          <div *ngIf="userForm.get('gender').hasError('required') && userForm.get('gender').touched" class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td>Hobbies</td>
        <td><input class="form-control" type="text" formControlName="hobbies">
          <div *ngIf="userForm.get('hobbies').hasError('required') && userForm.get('hobbies').touched" class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td>AvatarUrl</td>
        <td><input class="form-control" type="text" formControlName="avatarUrl">
          <div *ngIf="userForm.get('avatarUrl').hasError('required') && userForm.get('avatarUrl').touched" class="text-danger">
            Erros
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Update</button>
          <button class="button-cancel" [routerLink]="['/userHome']">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</form>
<div class="alert alert-danger" role="alert" style="text-align: center" *ngIf="message">{{message}}</div>
