<div class="container">
  <app-navbar-user></app-navbar-user>
  <div style="margin-top: 60px">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm" >
      <div>
        <table class="box">
          <tr>
            <th colspan="3" style="padding-top: 40px">
              <h1>Thông tin cá nhân</h1>
            </th>
          </tr>
          <tr >
            <td style="padding-top: 30px; padding-left: 60px"><img [src]="avaUrl" alt="Lỗi hiển thị" width="50px" height="50px"></td>
            <td colspan="2"><input type="file" formControlName="avatarUrl" (change)="showPre($event)"></td>
          </tr>
          <tr>
            <td style="padding-left: 60px;">Tên</td>
            <td><input type="text" formControlName="name"></td>
            <td>
              <div *ngIf="userForm.get('name').hasError('required') && userForm.get('name').touched"
                   class="text-danger">
                Không được để trống ô này!
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding-left: 60px;">Email</td>
            <td><input type="text" formControlName="email"></td>
            <td>
              <div *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched"
                   class="text-danger">
                Không được để trống ô này!
              </div>
              <div *ngIf="userForm.get('email').hasError('email') && userForm.get('email').touched"
                   class="text-danger">
                Email không đúng định dạng!
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding-left: 60px;">Giới tính</td>
            <td><input type="text" formControlName="gender"></td>
          </tr>
          <tr>
            <td style="padding-left: 60px;">Sở thích</td>
            <td><input type="text" formControlName="hobbies"></td>
          </tr>
          <tr>
            <td colspan="3">
              <button type="submit">Cập nhật</button>
              <button class="button-cancel" [routerLink]="['/home']">Thoát</button>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>

