<section id="newmostsongs">
  <div class="new-most-song mt-5">
    <div class="row p-5">
      <div class="col-6">
        <h4 class="font-weight-bold">Bài hát</h4>
        <ul class="list-group br-1" *ngFor="let song of songList ; index as i">
          <li class="list-group-item pb-1" *ngIf="i < 10" >
            <a class="name-of-song" [routerLink]="['song',song.id]">
              <img width="40" height="40" src="{{song.avatarUrl}}" class="img thumbnail pull-left mr-2">
              <h6 class="mb-1 text-dark"><b>{{song.name}}</b></h6>
            </a>
            <span style="float: left">
              <p class="mb-0 singer" *ngFor="let singer of song.singers">{{singer.name}}</p>
              </span>
          </li>
        </ul>
        <a class="text-info" href="">
          <div class="text-center mt-3"><a [routerLink]="['/songs']">Xem tất cả</a></div>
        </a>
      </div>
      <div class="col-6">
        <h4 class="font-weight-bold">Playlist</h4>
        <ul class="list-group">
          <li class="list-group-item pb-1" *ngFor="let playlist of playlists">
            <a class="name-of-song" [routerLink]="['playlist',playlist.id]">
              <img src="{{playlist.avatarUrl}}" width="40" height="40" alt="" class="img thumbnail pull-left mr-2">
              <h6 class="mb-1 text-dark"><b>{{playlist.name}}</b></h6>
            </a>
            <span style="float: left">
              <p class="mb-0 singer">{{playlist.user.name}}</p>
              </span>
          </li>
        </ul>
        <a class="text-info" href="">
          <div class="text-center mt-3"><a [routerLink]="['/playlists']">Xem tất cả</a></div>
        </a>
      </div>
    </div>
  </div>
</section>
