<app-navbar-menu></app-navbar-menu>
<form class="box"  (ngSubmit)="onSubmit()" [formGroup]="newUserForm">
  <h1>Đăng ký</h1>
  <input type="text" name="" placeholder="Họ tên">
  <input type="text" name="" placeholder="Email">
  <input type="text" name="" placeholder="Tên đăng nhập">
  <input type="password" name="" placeholder="Mật khẩu">
  <a type="submit">Đăng ký</a>
</form>

<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
