<app-navbar-menu></app-navbar-menu>
<div>
  <div class="container" [formGroup]="songForm">
    <section id="song-detail-banner" style="margin-top: 100px">
      <div class="bg-img" style="background: center / cover no-repeat rgb(83, 62, 56);">
        <div class="lammonen row mx-0" style="background-color: rgba(0,0,0,.65);">
          <div class="col-3">
            <img src="" alt="">
          </div>
          <div class="col-9">
            <div class="py-4 text-white mb-5">
              <img [src]="avaUrl" alt="ko có ảnh" height="200px" width="200px">
              <h2>{{name}}</h2>
              <p *ngFor="let singer of singers"><span>{{singer.name}}</span></p>
              <p *ngIf="singers.length == 0"><span>{{user}}</span></p>
            </div>

            <div>
              <audio src="{{fileURL}}" preload="auto" controls autoplay loop>
              </audio>
            </div>



          </div>
        </div>
      </div>
    </section>
    <section class="bg-light p-3 my-4">
      <div class="row">
        <div class="col-7 px-5 br-1">
          <h3 class="mb-3">Lyrics</h3>
          <div class="lyric-content">
            <pre></pre>
          </div>
        </div>
        <div class="col-5 px-5">
          <h3 class="mb-3">Recommend for you</h3>
          <ul class="list-group">
            <li class="list-group-item p-0 py-2 bg-light">
              <div  class="name-of-song">
                <img  width="40" height="40" alt="" class="img thumbnail pull-left mr-2">
                <i class="fa fa-play play-btn position-absolute" style="top: 12px;"></i>
              </div>
              <a>
                <h6 class="mb-1 text-dark"></h6>
              </a>
              <p class="mb-0 singer"><span></span></p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

