<app-navbar-menu></app-navbar-menu>
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">4KMusic</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5"> “Hãy đăng nhập để khám phá thêm nhiều bài hát dành riêng cho bạn”</h2>
    </div>
  </div>
</header>
<div>
<button class="btn btn-primary" [routerLink]="['creatSong']">Add</button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
<app-list-song></app-list-song>
</div>
<app-now-playing-bar></app-now-playing-bar>
