<div class="carousel-gallery">
  <h3 class="mb-1 text-dark" style="padding-bottom: 20px"><b>Mới Phát Hành</b></h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let song of songList">
        <a  data-fancybox="gallery" [routerLink]="['/song/', song.id]">
          <div class="image" style="background-image: url({{song.avatarUrl}})" >
            <div class="overlay">
              <em class="mdi mdi-play-circle"></em>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
