<div class="container">
  <app-navbar-user></app-navbar-user>
  <div>
    <div class="example-container">
      <div style="float: left; margin-left: 70px" >
        <div id="white-player">
          <div class="white-player-top">
            <div class="center">
              <span class="now-playing"><h4><b>{{song.name}}</b></h4></span>
            </div>

          </div>
          <div class="text-center"><b>Ca sĩ: </b>
            <span class="song-artist" *ngFor="let singer of song.singers">{{singer.name}}</span>
            <span class="song-artist" *ngIf="song.singers.length == 0">{{song.user.name}}</span>
          </div>

          <div id="white-player-center">
            <img data-amplitude-song-info="cover_art_url" class="main-album-art"/>

            <div class="song-meta-data">
              <span data-amplitude-song-info="name" class="song-name"></span>
              <span data-amplitude-song-info="artist" class="song-artist"></span>
            </div>

            <div class="time-progress">
              <div id="progress-container">
                <input type="range" class="amplitude-song-slider"/>
                <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
                <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
              </div>

              <div class="time-container">
                <span class="current-time">
                  <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
                </span>
                <span class="duration">
                    <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
                  </span>
              </div>
            </div>
          </div>

          <div id="white-player-controls">
            <div class="amplitude-repeat" id="repeat"></div>
            <div class="amplitude-prev" id="previous"></div>
            <div class="amplitude-play-pause" id="play-pause"></div>
            <div class="amplitude-next" id="next"></div>
          </div>
        </div>
      </div>

      <div style="float: right; margin-top: 100px; width: 700px">
        <section class="bg-light p-3 mb-4 container" style="border-radius: 5px">
          <table class="table">
            <tr>
              <td>
                <span>
                  <div *ngFor="let like of likesongs">
                      <div *ngIf="like.song.id == song.id && like.user.id == userId">
                      <a (click)="likesong(song, like)" style="text-decoration: none">
                      <i class="fa fa-heart text-danger"></i>
                     </a> {{song.countLike}}
                   </div>
                  </div>
                 </span>
              </td>
              <td style="float: right">
                  <span><div *ngIf="userId">
                   <select (change)="addSongInPlaylist(ref.value, song.id)" #ref>
                     <option>  <p> Thêm vào playlist của tôi</p></option>
                     <option *ngFor="let list of playlists" value="{{list.id}}">{{list.name}}</option>
                  </select>
                  </div>
                  </span>
              </td>
            </tr>
          </table>
        </section>
        <section class="bg-light p-3 my-4" style="border-radius: 5px">
          <div>
            <div class="px-5">
              <h3 class="mb-3">Bình luận</h3>
              <div>
                <ul class="list-group br-1" *ngFor="let comment of commentsong | paginate: { itemsPerPage: 4, currentPage: p };" >
                  <li class="list-group-item pb-1">
                    <div class="name-of-song">
                      <img src="{{comment.user.avatarUrl}}" width="40" height="40" style="float: left"
                           class="img thumbnail pull-left mr-2">
                    </div>
                    <span>
                       <h6 class="mb-1 text-dark"><b>{{comment.user.name}}</b></h6>
                         <p>{{comment.content}}</p>
                    </span>
                  </li>
                </ul>
                <div class="text-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                <form [formGroup]="form" (ngSubmit)="onEnter()">
                  <input class="input-group" type="text" formControlName="comment" placeholder="Viết bình luận...">
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

