<app-navbar-menu></app-navbar-menu>
<form class="box" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
  <h1>Đăng nhập</h1>
  <input formControlName="oldpassword" type="password" name="" placeholder="Nhập mật khẩu cũ">
  <input formControlName="newpassword" type="password" name="" placeholder="Nhập mật khẩu mới">
  <input formControlName="renewpassword" type="password" name="" placeholder="Xác nhận mật khẩu">
  <button type="submit">Cập nhật</button>
</form>

<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
